.contact{
    height: 100%;
    display: flex;
    gap: 100px;
}

.cSection{
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cTitle{
    font-size: 88px;
}

form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, textarea{
    padding: 12px;
    border: none;
    border-radius: 5px;
}

.formItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 50px;
}

label{
    font-size: 18px;
    font-weight: 600;
}

.formButton{
    background-color: #d0e9fc;
    color: #333333;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}


@media (max-width: 1280px) {
    .form {
      width: 100%;
    }
    .cTitle{
        font-size: 60px;
    }
  }
  
  @media (max-width: 1024px) {
    .contact {
      gap: 30px;
    }
    .cTitle{
        font-size: 48px;
    }
  }
  
  @media (max-width: 768px) {
    .contact {
      flex-direction: column;
    }

    .cTitle{
        font-size: 36px;
    }
  
    .cSection {
      width: 100%;
    }
  
    .cSection:first-child {
      height: 70%;
    }
    .cSection:last-child {
      height: 30%;
    }
  }